div {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}
.first {
  transform: rotate(50deg) translate(8px, 8px);
  transition-duration: 1s;
}
.mid {
  visibility: hidden;
}
.end {
  transform: rotate(-50deg) translate(8px, -8px);
  transition-duration: 1s;
}
